<mat-toolbar color="primary">
  <!--<span>Application Title</span>-->

  <!-- This fills the remaining space of the current row -->
<!--  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>-->
  <button mat-button>Organization</button>
  <button mat-button>Staff</button>
  <button mat-button>Project</button>
  <button mat-button>Warehouse</button>
  <button mat-button>Maps</button>
  <button mat-button>Assets</button>
  <button mat-button>Surveys</button>
  <button mat-button>More</button>

</mat-toolbar>
<router-outlet></router-outlet>
