<mat-table #table [dataSource]="organizationDetails" matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acronym">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Acronym</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.acronym}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Organization Type</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.type}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="website">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Website</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.website}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button (click)="deleteOrganization(row.id)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
</mat-paginator>
