  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Create Organization</h3>
        <form role="form" novalidate [formGroup]="organizationForm" class="orgform">
             <mat-form-field class="orgform-full-width">
               <input matInput placeholder="Enter Name" formControlName="name"
                        [errorStateMatcher]="matcher">
                        <mat-error *ngIf="organizationForm.get('name').hasError('required') && ( organizationForm.get('name').touched || organizationForm.get('name').dirty)">
                              Name is required
                        </mat-error>
             </mat-form-field>
             <mat-form-field class="orgform-full-width">
               <input matInput placeholder="Enter Acronym"  formControlName="acronym"
                        [errorStateMatcher]="matcher">
                        <mat-error *ngIf="organizationForm.get('acronym').hasError('required') && ( organizationForm.get('acronym').touched || organizationForm.get('acronym').dirty)">
                              Acronym is required
                        </mat-error>
             </mat-form-field>

             <mat-form-field>
                <mat-select placeholder="Type" formControlName="type">
                  <mat-option value="Academic">Academic</mat-option>
                  <mat-option value="Government">Government</mat-option>
                  <mat-option value="NGO">NGO</mat-option>
                  <mat-option value="Private">Private</mat-option>
                </mat-select>
                <mat-error *ngIf="organizationForm.get('type').hasError('required') && ( organizationForm.get('type').touched || organizationForm.get('type').dirty)" >
                      Type is required
                </mat-error>
              </mat-form-field>


              <mat-form-field>
                  <mat-select placeholder="Home Country" formControlName="homeCountry">
                    <mat-option value="United Country">United Country</mat-option>
                        <mat-option value="India">India</mat-option>
                        <mat-option value="Poland">Poland</mat-option>
                        <mat-option value="Zimbabwe">Zimbabwe</mat-option>
                  </mat-select>
                              <mat-error *ngIf="organizationForm.get('homeCountry').hasError('required') && ( organizationForm.get('homeCountry').touched || organizationForm.get('homeCountry').dirty)" >
                                    Home Country is required
                              </mat-error>
              </mat-form-field>



              <mat-form-field class="orgform-full-width">
                <input matInput placeholder="Phone #"  formControlName="phone" maxlength="10"
                         [errorStateMatcher]="matcher">
                         <mat-error *ngIf="organizationForm.get('phone').hasError('required') && ( organizationForm.get('phone').touched || organizationForm.get('phone').dirty)">
                               Phone is required
                         </mat-error>
              </mat-form-field>


              <mat-form-field class="orgform-full-width">
                <input matInput placeholder="Website #"  formControlName="website"
                [errorStateMatcher]="matcher">
                <mat-error *ngIf="organizationForm.get('website').hasError('required') && ( organizationForm.get('website').touched || organizationForm.get('website').dirty)" >
                Website is required
                </mat-error>
              </mat-form-field>


              <mat-form-field class="orgform-full-width">
                <input matInput placeholder="Year"  formControlName="year"
                [errorStateMatcher]="matcher">
                <mat-error *ngIf="organizationForm.get('year').hasError('required') && ( organizationForm.get('year').touched || organizationForm.get('year').dirty)" >
                Year is required
                </mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit" (click)="createOrganization(organizationForm)" [disabled]="organizationForm.invalid">Submit</button>
       </form>
    </div>
    <div class="col-md-2"></div>
</div>
